extends layout

mixin displayPrice(price)
    if price > 0
        span $ #{price}
    else
        span -

mixin rowLeft(image, title, content)
    .row.my-5.py-5
        .col.max-180
            img(src=image alt="logo" width="140")
        .col.align-middle
            h3.mt-2.mb-5= title
            p.big= content

mixin rowRight(image, title, content)
    .row.my-5.py-5
        .col.align-middle
            h3.mt-2.mb-5= title
            p.big= content
        .col.max-180
            img(src=image alt="logo" width="140")

block content
    #hero.small.codi.text-center.pt-5.shadow
        img.my-5(src="/images/logo-candles.svg" alt="logo" width="360")

    .container.section
        .row
            .col
                h2.title Programa de clientes frecuentes
        .row
            .col
                p.big Para clientes perrones. Te presentamos nuestro programa de recompensas, creado para premiarte por tu consumo.
        .row.justify-content-md-center.mt-5
            .col-12.col-md-10.col-lg-8
                hr
                +rowLeft("/images/user.png", "Pide tu tarjeta", "Recibe tu tarjeta de cliente perrón en nuestra sucursal, ¡no tiene costo!")
                hr
                +rowRight("/images/exchange-stamp.png", "Premia tu consumo", "Gana un sello para tu tarjeta por cada orden mayor a MXN$50. Sólo muestra tu tarjeta al momento de pagar. Recuerda siempre traer contigo tu tarjeta pues los sellos no son transferibles.")
                hr
                +rowLeft("/images/exchange-cup.png", "Reclama tu recompensa", "Presenta tu tarjeta con 10 sellos y te premiamos con una bebida con valor de hasta MXN$50, ¡Gratis!. Te devolveremos tu tarjeta marcada. Aún no la deseches, pues viene lo mejor.")
                hr
                +rowRight("/images/exchange-other-cup.png", "Llévate el premio mayor", "Al presentar dos tarjetas llenas, ¡elige qué premio llevarte!. Decide entre una taza perrona o un pin del culto.")
                hr
                .row.mt-5
                    .col
                        p
                            small * Aplican restricciones. No válido con otras promociones. Los sellos son intransferibles. Las recompensas no pueden ser cobradas en efectivo. Recompensas sujetas a existencias. El programa de recompensas puede ser negado a discreción si se considera que se está haciendo mal uso de la misma.
