extends layouts/layout

block content
    .container.section
        .row
            .col-12.col-md-7
                h2.title Nuestro Menú
                p Nuestros productos no se limitan a los aquí listados. Siempre estamos innovando en el laboratorio: nuestra cocina.
                p Pregunta por nuestro menú experimental y las bebidas de temporada.
            .col.text-right
                img(src="/images/icons/cup.svg" loading="lazy")
        .row.menu.mt-10
            .col-12.col-md-6
                h4 Café
                p Bebidas hechas con nuestro espresso: extracción rápida en caliente. ¡Haz fría tu bebida por 10 pesos más! Puedes pedirla frappé o en las rocas.
                ul
                    each product in products[1]
                        li
                            span #{product.title}
                            span #{formatPrice(product.price)}
                img(src="/images/icons/hot-mug.svg" loading="lazy")
            .col-12.col-md-6
                h4 Sin café
                p Nuestras bebidas hechas con ingredientes naturales y sin café. ¡Haz fría tu bebida por 10 pesos más! Puedes pedirla frappé o en las rocas.
                ul
                    each product in products[2]
                        li
                            span #{product.title}
                            span #{formatPrice(product.price)}
                p * Algunos productos pueden contener teína.
                img(src="/images/icons/cold-mug.svg" loading="lazy")
            .col-12.col-md-6
                h4 Desayunos
                p Nuestro horario de desayunos es de 8AM a 4PM. Pregunta por disponibilidad.
                ul
                    each product in products[3]
                        li
                            span #{product.title}
                            span #{formatPrice(product.price)}
                p Nuestros waffles son hechos sin ingredientes de origen animal. ¡Puedes cambiar los toppings!
                img(src="/images/icons/friends.svg" loading="lazy")
            .col-12.col-md-6
                h4 Repostería
                p Panqués hechos con amor en nuestra cocina, perfectos para acompañar tu bebida.
                ul
                    each product in products[4]
                        li
                            span #{product.title}
                            span #{formatPrice(product.price)}
                p Nuestros panqués son hechos sin ingredientes de origen animal.
            .col-12.col-md-6
                h4 Métodos
                p Para conocedores y paladares exigentes, contamos con diferentes métodos de extracción.
                ul
                    each product in products[5]
                        li
                            span #{product.title}
                            span #{formatPrice(product.price)}
            .col-12
                p Todos los precios en MXN. Aceptamos efectivo, tarjetas de débito, crédito y transferencia bancaria. Menú sujeto a disponibilidad. Los productos temporales no se incluyen ¡pregúntanos para saber más!.

